hash_table_builder
SquiggleFilter/*
RawAlign/*
.vscode
oracle_segmenter
simple_segmenter
*.o
venv/*
.python-version
data/*/fast5/*
datasets/*
grid_results.txt
SquiggleSeeder/rtl/obj_dir/*
SquiggleSeeder/anchors/*
SquiggleSeeder/chains/*